<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>594796720193-9o8iq35t06pr61tt15v0gahtcpps3f4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594796720193-9o8iq35t06pr61tt15v0gahtcpps3f4e</string>
	<key>API_KEY</key>
	<string>AIzaSyBGT0e2G0EYXUorMfp5gNPtMmHqBFGsYQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>594796720193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmstudio.Uber</string>
	<key>PROJECT_ID</key>
	<string>uber-1c5c5</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-1c5c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594796720193:ios:e8ff4486eed3dfe9</string>
	<key>DATABASE_URL</key>
	<string>https://uber-1c5c5.firebaseio.com</string>
</dict>
</plist>